<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>私の自己紹介アプリ</title>
  <link rel="stylesheet" href="/assets/application.css">
</head>

<body class="bg-gray-100">
  <!-- 全体を中央に寄せるためのコンテナ -->
  <div class="container mx-auto max-w-3xl p-6">

    <!-- タイトル -->
    <div class="text-center text-4xl mb-8 text-blue-700">
      私の自己紹介アプリ
    </div>

    <p class="text-center text-lg mb-8 text-gray-600">
      ご覧いただきありがとうございます。<br>
      少しでも私のことを知ってもらえたら嬉しいです。<br>
      このアプリでは、私の『思い出』とともに自己紹介をしていますので、どうぞ気軽にご覧ください。
    </p>


    <!-- プロフィールセクション -->
    <div class="flex justify-between items-start p-6 bg-white shadow-md rounded-lg text-gray-700 leading-relaxed">

      <div class="flex-1">
        <p class="text-lg font-bold mb-4">名前：　畑中　崇徳（はたなか　たかのり）</p>
        <p>年齢：　３１歳</p>
        <p>出身：　奈良</p>
        <p>住居：　大阪</p>
        <p>職業：　専業主夫（前職：ポリス）</p>
        <p>家族構成：　私、妻、長女（３歳）、次女（２歳）</p>
        <p>性格：　忍耐強い、楽観的</p>
        <p>趣味：　NBA観戦、ゴルフ、ワンピースカード、ピクニック</p>
        <p>RUNTEQペンネーム：　hatabo_56a（はたぼー）</p>
        <p>学歴：　近畿大学法学部卒</p>
        <p>好きな映画やドラマ：　GTO、池袋ウエストゲートパーク、プリズンブレイク</p>
        <p>好きなゲーム：　NBA2k、ラストオブアス</p>
        <p>好きな一言：　諦めんかったら道は拓ける</p>
        <p>好きな食べ物：　ハンバーグ、から揚げ、チョコ</p>
        <p>ほしいもの：　時間</p>
        <p>夢：　プールとバスケットコート付きの別荘で家族と楽しむ</p>
        <p>夢：　４７都道府県観光（現在２０程は行ってるかな）</p>
      </div>
      <div class="ml-6">
        <!-- 写真1 -->
        <%= image_tag asset_path('memory6.png'), alt: '写真', class: 'mt-2 rounded-sm shadow-md mb-4 w-48' %>
        <!-- 写真2 -->
        <%= image_tag asset_path('memory5.png'), alt: 'アイコン', class: 'mt-2 rounded-sm shadow-md mb-4 w-48' %>
      </div>
    </div>

    <!-- おもいでセクション -->
    <div class="memory mt-8 bg-gray-100 shadow-lg rounded-lg p-6">
      <h2 class="text-3xl font-semibold text-center text-blue-600 mb-6">おもいで</h2>
      <div class="memory-list">
        <!-- 質問詳細 -->
        <details class="hover:bg-gray-50 transition duration-200 rounded-md hover:shadow-lg mt-4">
          <summary class="py-6 px-4 text-2xl font-semibold w-full cursor-pointer marker:text-blue-500 list-none">
            今までで一番感動した瞬間は？
          </summary>
          <div class="mx-12 pb-8">
            <p>初めて自分の子供の顔を見たとき👶</p>
            <p>自分の子供を言葉で表現するのが難しく、まだ父親としての実感が湧いてませんでした。</p>
            <p>想像以上に小さかった。</p>
            <%= image_tag 'memory4.png', alt: '写真', class: 'mt-2 rounded-sm shadow-md', width: '50%' %>
          </div>
        </details>

        <details class="hover:bg-gray-50 transition duration-200 rounded-md hover:shadow-lg">
          <summary class="py-6 px-4 text-2xl font-semibold w-full cursor-pointer marker:text-blue-500 list-none">
            もう一度行ってみたい場所は？
          </summary>
          <div class="mx-12 pb-8">
            <p>ロサンゼルス州サンタモニカのロブスターをもう一回食べに行きたい🦐</p>
            <%= image_tag 'memory2.jpg', alt: '別のサンタモニカの写真', class: 'mt-2 rounded-sm shadow-md', width: '50%' %>
            <%= image_tag 'memory1.jpg', alt: 'サンタモニカのロブスター', class: 'mt-2 rounded-lg shadow-md', width: '50%' %>
          </div>
        </details>

        <details class="hover:bg-gray-50 transition duration-200 rounded-md hover:shadow-lg mt-4">
          <summary class="py-6 px-4 text-2xl font-semibold w-full cursor-pointer marker:text-blue-500 list-none">
            困難を乗り越えた経験は？
          </summary>
          <div class="mx-12 pb-8">
            <p>前職の公務員の仕事上で昇任試験に合格したときかな！</p>
            <p>２年連続で落ちても、諦めずに毎日勉強して３年目に合格できたときは嬉しかった🥲</p>
          </div>
        </details>

        <details class="hover:bg-gray-50 transition duration-200 rounded-md hover:shadow-lg mt-4">
          <summary class="py-6 px-4 text-2xl font-semibold w-full cursor-pointer marker:text-blue-500 list-none">
            一番達成感を感じた瞬間は？
          </summary>
          <div class="mx-12 pb-8">
            <p>仕事上において水難救助隊になるための訓練で何度も溺れかけましたが、何とか死線を乗り越えて晴れて部隊の一員になれたこと</p>
            <p>ゴーグル、シュノーケルのありがたみは忘れません</p>
          </div>
        </details>

        <details class="hover:bg-gray-50 transition duration-200 rounded-md hover:shadow-lg mt-4">
          <summary class="py-6 px-4 text-2xl font-semibold w-full cursor-pointer marker:text-blue-500 list-none">
            一番好きな季節は？
          </summary>
          <div class="mx-12 pb-8">
            <p>秋。金木犀の匂い大好き。</p>
          </div>
        </details>

        <details class="hover:bg-gray-50 transition duration-200 rounded-md hover:shadow-lg mt-4">
          <summary class="py-6 px-4 text-2xl font-semibold w-full cursor-pointer marker:text-blue-500 list-none">
            学生時代の一番の思い出は？
          </summary>
          <div class="mx-12 pb-8">
            <p>奨学金のお金で毎晩カラオケ、居酒屋、ボウリング、ダーツをしてた日々（笑）</p>
            <p>そん時は後先のことなんも考えてなかったな～。なんか勉強しときゃ良かった</p>
            <%= image_tag 'memory3.png', alt: 'バスケサークルでの活動', class: 'mt-2 rounded-sm shadow-md', width: '50%' %>
          </div>
        </details>

        <details class="hover:bg-gray-50 transition duration-200 rounded-md hover:shadow-lg mt-4">
          <summary class="py-6 px-4 text-2xl font-semibold w-full cursor-pointer marker:text-blue-500 list-none">
            あの頃に戻れたらいつ？
          </summary>
          <div class="mx-12 pb-8">
            <p>高校が男子校やったんで、受験をもっと頑張りたかって共学に行きたかった。</p>
            <p>あと将来やりたいことをこの時期に見つけたかった。</p>
          </div>
        </details>

        <details class="hover:bg-gray-50 transition duration-200 rounded-md hover:shadow-lg mt-4">
          <summary class="py-6 px-4 text-2xl font-semibold w-full cursor-pointer marker:text-blue-500 list-none">
            自分を動物に例えると何？
          </summary>
          <div class="mx-12 pb-8">
            <p>犬🐶。忠誠心が強いから！？</p>
          </div>
        </details>
      </div>
    </div>
  </div>
</body>
</html>
